# any __pycache__ directories
**/__pycache__/

# .pyc files
*.pyc

# Sphinx documentation
docs/*
!docs/conf.py
!docs/*.rst
!docs/_static/
!docs/_templates/
!docs/Makefile
!docs/make.bat
!docs/requirements.txt


# sandbox
sandbox.ipynb

# line profiler results
*.lprof

# csv
*.csv


*solver_test_dir*


# dont track report
report/*
!report/main.tex
!report/main.pdf
!report/figs
!report/mybib.bib

# dont track solver output
solver_out*
