# any __pycache__ directories
**/__pycache__/

# .pyc files
*.pyc

# sphinx documentation
docs/_*

# sandbox
sandbox.ipynb

# line profiler results
*.lprof

# csv
*.csv


*solver_test_dir*


# dont track report
report/*
!report/main.tex
!report/fig/

# dont track solver output
solver_out*
